{% extends 'store/base.html' %}

{%  block content %}
<div class="container">
    <div>
        <h1>My Orders</h1>
    </div>
    <table class="table ">

        <thead>
            <tr>
                <th>thumbnail</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><img height="100px" class="border rounded" src="{{order.product.thumbnail.url}}" alt=""></td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.payment.date }}</td>
                    <td><a class="btn btn-success" href="/download/{{order.product.slug}}" download >Download</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <h1>{{order.product.name}}</h1>

    </table>

  
    
</div>


{% endblock %}